body {
  font-family: 'Lato'; }

.fa-btn {
  margin-right: 6px; }

div.panel-heading {
  text-align: center;
  padding: 5px; }

div.panel-body h4 {
  text-align: center; }

div.panel-heading > div.pull-left {
  position: relative; }

div.panel-heading > div.pull-right {
  position: relative; }

div.panel-heading h2 {
  text-align: center !important;
  margin: 5px; }

div.panel-heading h3 {
  text-align: center !important;
  margin: 5px; }

div.panel-heading h4 {
  text-align: center !important;
  margin: 5px; }

div.pull-right button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px; }

div.pull-left button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px; }

div.se-highlights {
  padding-top: 10px; }

/*# sourceMappingURL=app.css.map */

/*# sourceMappingURL=all.css.map */
img.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0px;
  font-size: 18px;
}

.navbar-default .navbar-brand {
    color: #23527c;
}
.navbar-default {
  background-color: #C0C0C0;
  border-color: #191970;
}

.navtext{
  padding-left: 20px;
  padding-top: 5px;
  font-weight: 600;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #191970;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: -150px;
  height: 40px;
  background-color: #C0C0C0;
  text-align: center;
  padding-top: 5px;
  clear: both;
}
.text-muted {
  color: #191970;
  font-weight: 600;
}

body > .container {
  padding: 20px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
