body {
  font-family: 'Lato'; }

.fa-btn {
  margin-right: 6px; }

div.panel-heading {
  text-align: center;
  padding: 5px; }

div.panel-body h4 {
  text-align: center; }

div.panel-heading > div.pull-left {
  position: relative; }

div.panel-heading > div.pull-right {
  position: relative; }

div.panel-heading h2 {
  text-align: center !important;
  margin: 5px; }

div.panel-heading h3 {
  text-align: center !important;
  margin: 5px; }

div.panel-heading h4 {
  text-align: center !important;
  margin: 5px; }

div.pull-right button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px; }

div.pull-left button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px; }

div.se-highlights {
  padding-top: 10px; }

/*# sourceMappingURL=app.css.map */

/*# sourceMappingURL=all.css.map */
.container-fluid{
  margin: auto;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.panel-body {
  width: 100%;
}

img.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0px;
  font-size: 18px;
}

.navbar-default .navbar-brand {
  color: #191970;
}

.navbar-default .navbar-brand:hover {
  color: #0F0FA6;
}


.navbar-2 {
  background-color: #C0C0C0;
  border-color: #C0C0C0;
}
.navbar-1{
  background-color: #C0C0C0;
  border-bottom-color: #191970;
  border-bottom-width: initial;
}
.navtext{
  padding-left: 20px;
  padding-top: 5px;
  font-weight: 600;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #191970;
}

/*color for entire nav-bar elements*/
.nav-list {
  background: #F4F4F3;
  color: #191970;
  border: solid;
  border-color: darkgray;
  border-radius: 5px;
}

.navbar-default .navbar-nav>li>a {
  color: #191970;
}


.navbar-default .navbar-nav .home>a:hover {
  color: #FFFFFF;
  background-color: #B22222;
  border-radius: 5px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFFFFF;
  background-color: #191970;
  border-color: #191970;
  border-radius: 5px;
}


.navbar-default .navbar-right>li>a:hover {
  color: #FFFFFF;
  background-color: black;
}

/*regarding dropdown*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;
  /****************
   ** NEW STYLES **
   ****************/
  list-style: none; /** Remove list bullets */
  width: 100%; /** Set the width to 100% of it's parent */
  padding: 0;
}

.dropdown:hover .dropdown-menu{
  display: block;  /* Display the dropdown */
}

/** List Item Styles **/
.dropdown-menu {
  display: block;
  padding: 0.2em 0.8em;
  background: #FFFFFF;
}

.dropdown .dropdown-menu>li>a {
  color: #191970;
  font-weight: 600;
}

.dropdown .dropdown-menu>li>a:hover {
  color: #FFFFFF;
  background-color: #191970;
}

.nav-bar-log .dropdown-menu>li>a {
  color: #191970;
  font-weight: 600;
  background-color: #C0C0C0;
}

.nav-bar-log .dropdown-menu>li>a:hover {
  color: #FFFFFF;
  background-color: black;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*notifucation page*/
.input-field{
  padding-bottom: 20px;
}

.footer {
  background-color: #C0C0C0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
  margin:0 auto;
  width:100%;
  height:auto;
  overflow:hidden;
  position: absolute;
  bottom: 0px;
  border: solid;
  border-color: #C0C0C0;
  border-top-color: #191970;
}

.text-muted {
  color: #191970;
  font-weight: 600;
}

body > .container {
  padding: 20px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


